h1{
    padding-bottom: 1vw;
}

.member-list{
    background-color: aliceblue;
    border-style: solid;
    margin: 5% 20%;
    padding: 10%;
}

.team-list{
    background-color: cyan;
    border-style: solid;
    margin: 5% 10%;
    padding: 2%;
}

.container{
    margin: 10% 20%;
    background-color: aquamarine;
    text-align: center;
    padding: 2%;
    margin-bottom: 3%;
}

.card{
    width: auto;
    margin: auto;
}

li{
    list-style: none;
    font-size: 1.35rem;
    margin-bottom: 1rem;
}

.error-message{
    color: red;
    font-style: italic;
}

#add-btn{
    background-color: bisque;
}

#generate-btn{
    background-color: aqua;
    margin-bottom: 2%;
}