/* You can add global styles to this file, and also import other style files */
/* import semantic css library styles */
@import "semantic-ui-css/semantic.css";

body {
  background-color: gray;
}

li{
  list-style: none;
  font-size: 1.35rem;
  margin-bottom: 1rem;
}